<section class="contacts__section section">
    <div class="container">
        <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
        <ul class="contacts-img-wrapper slider-container">
            <li
                class="contacts-img slide-desktop active"
                style="background-image: url(./img/contacts/kiwi.png);">
            </li>
            <li
                class="contacts-img slide-desktop"
                style="background-image: url(./img/contacts/blueberry.png);">
            </li>
            <li
                class="contacts-img slide-desktop"
                style="background-image: url(./img/contacts/orange.png);">
            </li>
            <li
                class="contacts-img slide-desktop"
                style="background-image: url(./img/contacts/apple.png);">
            </li>
            <li
                class="contacts-img slide-desktop"
                style="background-image: url(./img/contacts/strawberry.png);">
            </li>
        </ul>
        <div id="carouselExampleSlidesOnly" class="contacts-mobile-slider carousel slide" data-ride="carousel">
            <ul class="carousel-inner">
              <li class="carousel-item active">
                <div class="contacts-mobile-slider-img d-block w-100" style="background-image: url(./img/contacts/kiwi.png);"></div>
              </li>
              <li class="carousel-item">
                <div class="contacts-mobile-slider-img d-block w-100" style="background-image: url(./img/contacts/blueberry.png);"></div>
              </li>
              <li class="carousel-item">
                <div class="contacts-mobile-slider-img d-block w-100" style="background-image: url(./img/contacts/orange.png);"></div>
              </li>
              <li class="carousel-item">
                <div class="contacts-mobile-slider-img d-block w-100" style="background-image: url(./img/contacts/apple.png);"></div>
              </li>
              <li class="carousel-item">
                <div class="contacts-mobile-slider-img d-block w-100 " style="background-image: url(./img/contacts/strawberry.png);"></div>
              </li>
            </ul>
        </div>
        <div class="contacts-form-wrapper">
            <p class="contacts-form-info">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
            <form action="" class="contacts-form">
                <input class="contacts-form-input" type="email" name="email" placeholder="Enter email..."
                aria-label="email">
                <button type="submit" class="contacts-form-btn js-open-modal" data-modal="1">Send</button>
            </form>
        </div>
        <div>
        </div>
    </div>
</section>