<section class="contacts__section">
    <div class="container">
            <h2 class="contacts-title"> Fresh Harvest Box has got you covered</h2>
                <ul class="contacts-img-wrapper">
                     <li class="contacts-img-one">
                         <img  src="./img/contacts/kiwi.png" alt="fruits" width="792">
                    </li>
                     <li class="contacts-img-two">
                         <img src="./img/contacts/blueberry.png" alt="fruits" width="400">
                    </li>
                </ul>
        <div class="contacts-form-wrapper">
             <p class="contacts-form-info">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
              <form action="" class="contacts-form">
                        <input class="contacts-form-input" type="email" name="email"  placeholder="Enter email..."  aria-label="email">
                     <button type="submit" class="contacts-form-btn">
                            <span class="contacts-text-btn">Send</span>
                    </button>
             </form>
         </div>
    </div>
</section>