<section class="fruits__section">
  <div class="fruits-box">
    <h2 class="fruits-titel">ORGANIC FRUITS</h2>
    <p class="fruits-description">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
  </div>
  <ul class="fruits-list">
    <li class="fruits-item fruits-item-strawberry">
      <h3 class="fruits-item-name">Strawberry</h3>
      <p class="fruits-item-plant">Plant</p>
      <picture>
        <!-- Desktop and  Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/fruits/frame-1-desc@1x.webp 1x,
            ./img/fruits/frame-1-desc@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/fruits/frame-1-desc@1x.png 1x,
            ./img/fruits/frame-1-desc@2x.png 2x
          "
          type="image/png"
        />

        <!-- Mobile screen -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-1-mob@1x.webp 1x,
            ./img/fruits/frame-1-mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-1-mob@1x.png 1x,
            ./img/fruits/frame-1-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="fruits-item-img"
          src="./img/fruits/frame-1-desc@1x.png"
          alt="strawberry image shown"
          width="295"
          height="275"
          loading="lazy"
        />
      </picture>

      <p class="fruits-item-price">100 UAH / kg</p>
    </li>
    <li class="fruits-item">
      <h3 class="fruits-item-name">Banana</h3>
      <p class="fruits-item-plant">Plant</p>

      <picture>
        <!-- Desktop and  Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/fruits/frame-2-desc@1x.webp 1x,
            ./img/fruits/frame-2-desc@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/fruits/frame-2-desc@1x.png 1x,
            ./img/fruits/frame-2-desc@2x.png 2x
          "
          type="image/png"
        />

        <!-- Mobile screen -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-2-mob@1x.webp 1x,
            ./img/fruits/frame-2-mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-2-mob@1x.png 1x,
            ./img/fruits/frame-2-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="fruits-item-img"
          src="./img/fruits/frame-2-desc@1x.png"
          alt="strawberry image shown"
          width="295"
          height="275"
          loading="lazy"
        />
      </picture>

      <p class="fruits-item-price">80 UAH / kg</p>
    </li>
    <li class="fruits-item">
      <h3 class="fruits-item-name">Watermelon</h3>
      <p class="fruits-item-plant">Plant</p>
      <picture>
        <!-- Desktop and  Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/fruits/frame-3-desc@1x.webp 1x,
            ./img/fruits/frame-3-desc@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/fruits/frame-3-desc@1x.png 1x,
            ./img/fruits/frame-3-desc@2x.png 2x
          "
          type="image/png"
        />

        <!-- Mobile screen -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-3-mob@1x.webp 1x,
            ./img/fruits/frame-3-mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/fruits/frame-3-mob@1x.png 1x,
            ./img/fruits/frame-3-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="fruits-item-img"
          src="./img/fruits/frame-3-desc@1x.png"
          alt="shown picture of watermelon"
          width="295"
          height="275"
          loading="lazy"
        />
      </picture>
      <p class="fruits-item-price">40 UAH / kg</p>
    </li>
    <li class="fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="lime picture shown"
      />
      <h3 class="fruits-item-name">Lime</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">60 UAH / kg</p>
    </li>
    <li class="fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="apple image shown"
      />
      <h3 class="fruits-item-name">Apple</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">50 UAH / kg</p>
    </li>
    <li class="fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="showing image of peach"
      />
      <h3 class="fruits-item-name">Peach</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">80 UAH / kg</p>
    </li>
    <li class="fruits-item notmobile-fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="shown picture of plums"
      />
      <h3 class="fruits-item-name">Plums</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">40 UAH / kg</p>
    </li>
    <li class="fruits-item notmobile-fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="showing an image of an orange"
      />
      <h3 class="fruits-item-name">Orange</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">60 UAH / kg</p>
    </li>
    <li class="fruits-item nottabl-fruits-item notmobile-fruits-item">
      <img
        class="fruits-item-img"
        src="./img/fruits/Frame-62desc@1x.png"
        width="295"
        height="275"
        alt="showing image of kiwi"
      />
      <h3 class="fruits-item-name">Kiwi</h3>
      <p class="fruits-item-plant">Plant</p>
      <p class="fruits-item-price">90 UAH / kg</p>
    </li>
  </ul>
  <button class="fruits-btn" type="button">ORDER</button>
</section>
