<section class="hero__section section">
  <div class="container hero-container">
    <h1 class="hero-title">
      fresh harvest box <br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
    <div class="hero-border-img">
      <div class="hero-thumb-img">
        <picture>
          <source
            srcset="
              ./img/hero/girl_desc-tab@1x.jpg,
              ./img/hero/girl_desc-tab@2x.jpg
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <img
            class="hero-img-girl"
            src="./img/hero/girl_mob@1x.jpg"
            alt="girl"
            width="452"
          />
        </picture>
      </div>
      <a href="" class="hero-btn round-btn">shop now</a>
    </div>
    <div class="hero-wrraper-cards">
      <div class="hero-wrraper-watermelon">
        <p class="hero-text">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <div class="hero-card">
          <p class="hero-card-title">Fruit</p>
          <div class="hero-card-thumb-img-watermelon">
            <img
              class="hero-img-watermelon"
              src="./img/hero/watermelon_@1x.png"
              alt="watermelon"
              width="200"
              height="172"
            />
          </div>
          <p class="hero-card-text">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
      <div class="hero-wrraper-strawberry">
        <ul class="hero-items">
          <li class="hero-item">
            <h3 class="hero-item-title">&#35;organic</h3>
          </li>
          <li class="hero-item">
            <h3 class="hero-item-title">&#35;products</h3>
          </li>
          <li class="hero-item">
            <h3 class="hero-item-title">&#35;basket</h3>
          </li>
          <li class="hero-item">
            <h3 class="hero-item-title">&#35;fruits</h3>
          </li>
        </ul>
        <div class="hero-card hero-card-strawberry">
          <p class="hero-card-title hero-card-title-strawberry">Fruit</p>
          <div class="hero-card-thumb-img-strawberry">
            <img
              class="hero-img-strawberry"
              src="./img/hero/strawberry-@1x.png"
              alt="strawberry"
              width="162"
              height="185"
            />
          </div>
          <p class="hero-card-text hero-card-text-strawberry">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
