<section class="hero__section">
	<div class="container hero-container">
		<div class="hero-wrraper-title-img">
			<h1 class="hero-title">
				fresh harvest box <br> is your 0ne-stop place for a delicious fruit basket
			 </h1>
			 <div class="hero-border-img" >
				<div class="hero-thumb-img">
				  <img
					 class="hero-img-girl"
					 src="./img/hero/girl_mob@1x.jpg"
					 alt="girl"
					 width="311"
				  />
				</div>
				<a href="" class="hero-btn round-btn">shop now</a>
			 </div>
		</div>
		  <div>
			 <p class="hero-text">
				Our expertly curated fruit baskets are made with the freshest, highest
				quality fruits available. Whether you are looking for a healthy snack or
				a gift for a loved one, Fresh Harvest Box has got you covered.
			 </p>
			 <div class="hero-card">
				<h2 class="hero-card-title">Fruit</h2>
				<div class="hero-card-thumb-img-watermelon">
				  <img
					 class="hero-img-watermelon"
					 src="./img/hero/watermelon_@1x.png"
					 alt="watermelon"
				  />
				</div>
				<p class="hero-card-text">
				  Refreshing and juicy, watermelon is the perfect summer treat and a
				  great source of hydration
				</p>
			 </div>
		  </div>
		  <div>
			 <ul class="hero-items">
				<li class="hero-item"><h3 class="hero-item-title">organic</h3></li>
				<li class="hero-item"><h3 class="hero-item-title">products</h3></li>
				<li class="hero-item"><h3 class="hero-item-title">basket</h3></li>
				<li class="hero-item"><h3 class="hero-item-title">fruits</h3></li>
			 </ul>
			 <div class="hero-card">
				<h2 class="hero-card-title">Fruit</h2>
				<div class="hero-card-thumb-img-strawberry">
				  <img
					 class="hero-img-strawberry"
					 src="./img/hero/strawberry_@1x.png"
					 alt="watermelon"
				  />
				</div>
				<p class="hero-card-text">
				  Refreshing and juicy, watermelon is the perfect summer treat and a
				  great source of hydration
				</p>
			 </div>
		  </div>
		</div>
</section>