<section class="section how-it-works__section">
  <div class="container">
    <h2 class="how-it-works__section-title">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="how-it-works__section-subtitle">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>

    <div class="how-it-works__section-list-container">
      <ul class="how-it-works__section-list">
        <li class="how-it-works__section-list-item">
          <div
            class="how-it-works__section-list-item-oval how-it-works__section-first"
          >
            <p class="how-it-works__section-list-item-steps">First Step</p>
          </div>
          <p class="how-it-works__section-list-item-desc">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="how-it-works__section-list-item">
          <div
            class="how-it-works__section-list-item-oval how-it-works__section-second"
          >
            <p class="how-it-works__section-list-item-steps">Second Step</p>
          </div>
          <p class="how-it-works__section-list-item-desc">
            Click on the basket and fill out the form.
          </p>
        </li>
        <li class="how-it-works__section-list-item">
          <div
            class="how-it-works__section-list-item-oval how-it-works__section-third"
          >
            <p class="how-it-works__section-list-item-steps">Third Step</p>
          </div>
          <p
            class="how-it-works__section-list-item-desc how-it-works__section-list-item-desc-third"
          >
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </li>
      </ul>
    </div>
    <img
      class="how-it-works__section-gif"
      src="../img/how-it-works/fruits_desc.gif"
      alt="fruits and berries"
      width="860"
    />
  </div>
</section>
