<div class="modal your-order__modal" data-modal="2">
    <button class="js-modal-close bnt-modal-close" type="button">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/icons.svg#close-dark"></use>
      </svg>
    </button>
    <div class="your-order__modal-content">
        <strong class="your-order__modal-title">Your Order</strong>
        <form class="your-order__modal-form">
            <ul class="your-order__modal-cards">
                <li class="your-order__modal-card">
                    <div class="your-order__modal-card-checkbox">
                        <label class="your-order__modal-card-label" for="checkbox-1"></label>
                        <input name="checkbox-1" type="checkbox" id="checkbox-1">
                        <svg class="your-order__modal-icon checkbox" width="8" height="8">
                            <use href="./img/icons.svg#checked"></use>
                        </svg>
                    </div>
                    <div class="your-order__modal-card-wrapper">
                        <strong class="your-order__modal-card-title">Strawberry Basket</strong>
                        <p class="your-order__modal-card-text">Plant</p>
                    </div>
                    <img class="your-order__modal-card-img" src="./img/your-order/your-order-1.png" alt="Strawberry Basket">
                </li>
                <li class="your-order__modal-card">
                    <div class="your-order__modal-card-checkbox">
                        <label class="your-order__modal-card-label" for="checkbox-2"></label>
                        <input name="checkbox-2" type="checkbox" id="checkbox-2">
                        <svg class="your-order__modal-icon checkbox" width="8" height="8">
                            <use href="./img/icons.svg#checked"></use>
                        </svg>
                    </div>
                    <div class="your-order__modal-card-wrapper">
                        <strong class="your-order__modal-card-title">Apple Basket</strong>
                        <p class="your-order__modal-card-text">Plant</p>
                    </div>
                    <img class="your-order__modal-card-img" src="./img/your-order/your-order-2.png" alt="Apple Basket">
                </li>
                <li class="your-order__modal-card">
                    <div class="your-order__modal-card-checkbox">
                        <label class="your-order__modal-card-label" for="checkbox-3"></label>
                        <input name="checkbox-3" type="checkbox" id="checkbox-3">
                        <svg class="your-order__modal-icon checkbox" width="8" height="8">
                            <use href="./img/icons.svg#checked"></use>
                        </svg>
                    </div>
                    <div class="your-order__modal-card-wrapper">
                        <strong class="your-order__modal-card-title">Fruits Basket</strong>
                        <p class="your-order__modal-card-text">Plant</p>
                    </div>
                    <img class="your-order__modal-card-img" src="./img/your-order/your-order-3.png" alt="Fruits Basket">
                </li>
            </ul>
            <div class="your-order__modal-field">
                <input placeholder="Enter full name..." type="text" name="user-name" class="your-order__modal-form-input" id="user-name" required>
            </div>
            <div class="your-order__modal-field">
                <input placeholder="Enter email..." type="email" name="user-email" class="your-order__modal-form-input" id="user-email" required>
            </div>
            <div class="your-order__modal-field">
                <input placeholder="Enter card..." type="number" name="user-card" class="your-order__modal-form-input" id="user-card" required size="4">
            </div>
            <div class="your-order__modal-field">
                <textarea placeholder="Enter comments..." name="user-message" class="your-order__modal-form-textarea input-field"  id="user-message" cols="10" rows="7"></textarea>
            </div>
            <button class="your-order__modal-form-btn" type="submit">Submit</button>
        </form>
    </div>
</div>
<div class="overlay js-overlay-modal"></div>
  