/* Contacts-section */
.contacts__section {
    margin-bottom: 152px;
}

.contacts-title {
    position: relative;
    z-index: 100;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin: 0 auto -37px auto;
    max-width: 335px;
}
 .contacts-img-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;    
    gap: 16px;
    z-index: 10 ;
    margin-bottom: 80px;
 }


.contacts-form-wrapper {
    width: 492px;
    align-items: center;
    padding: 0px;
    gap: 80px;
    margin: auto;
}

.contacts-form-info {
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.contacts-form {
    max-width: 292px;
    margin: auto;
    position: relative;
}

.contacts-form-input {
    background: transparent;
    border:1px solid rgba(255, 255, 255, 0.3) ;
    border-radius: 100px;
    color: var(--white);
    padding: 15px 24px;
    outline: none;
    width: 292px;
    line-height: inherit;
}

.contacts-form-input::placeholder {
    opacity: 0.5;
}
.contacts-form-btn {
    border: none;
    padding: 15px 35px;
    background:var(--light-green);
    border-radius: 100px;
    color: var(--white);
    position: absolute;
    right: 0;
    cursor: pointer;
    line-height: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:1px solid var(--light-green) ;
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)) drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    background: var(--yellow-green);
    border: 1px solid var(--yellow-green);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-text-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    color: var(--white);
}

              /* Adaptive Site layout */

.container {
    margin: 0 auto;
    padding: 0px 20px;
    min-width: 320px;
}
@media only screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}
@media only screen and (max-width: 767px) {
    .contacts-img-one {
        max-width: 335px;
        height: 476px;
    }
    .contacts-img-two {
        display: none;
    }
    .contacts-form-wrapper {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .container {
     max-width: 768px;
     padding: 0px 32px;
    }
    .contacts-img-two {
        display: block;
    }
    .contacts-form-wrapper {
        display: block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .contacts-title {
        font-size: 54px;
        line-height: 54px;
        max-width: 668px;
    }
}
@media only screen and (min-width: 1280px) {
    .container {
     max-width: 1280px;
    }
    .contacts-title{
        font-size: 64px;
        line-height: 1;
        max-width: 780px;
    }
    .contacts-img-wrapper{
        gap: 24px;
    }
}


