/* Contacts-section */
.contacts__section{
 margin-bottom: 152px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}
 .div-contacts{
    margin-bottom: 90px;
 }
.title-contacts{
 position:relative;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 64px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
text-transform: uppercase;
color: var(--white);
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
margin-right:206px;
margin-left:206px;
/* z-index: 100; */
}
 .list-contacts{
 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
/* z-index: 10 ; */
 }

.div-block{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;
}
.under-text{
    font-family: 'DM Sans';
    font-weight: 400;
font-size: 14px;
    font-style: normal;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--white);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin-left: 362px;
    margin-right: 362px;
}
.form{
    box-sizing: border-box;
    /* opacity: 0.3; */
border: 1px solid #FFFFFF;
border-radius: 100px; 
}
.input-email{
font-style: normal;
line-height: 18px;
letter-spacing: -0.04em;
color:var(--white);
opacity: 0.5;
}
.button-send{
padding: 15px 35px;
background: #9DC162;
border-radius: 100px;
}
.text-send{
 font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.04em;
text-transform: capitalize;
color: var(--white);
}